@charset "UTF-8";
/*颜色*/
.primary{#02C0CE;}
.blue{color:#2D7BF4}
.dark { color: #313A46; }
.gray { color: #9A9A9A; }
.white { color: #fff; }
.green { color: #0ACF97; }
.orange { color: #F9BC0B; }
.red { color: #F1556C; }
.light { color: #F8F9FA; }
/*背景色*/
.bgc-primary{background-color: #02C0CE;color: #fff;}/*主色:蓝且偏点绿*/
.bgc-blue{background-color: #2D7BF4;color: #fff;}/*蓝亮*/
.bgc-danger{background-color: #dc3545;color: #fff;}/*大红*/
.bgc-success{background-color: #0ACF97;color: #fff;}/*绿色*/
.bgc-pink{background-color: #FF679B;color: #fff;}/*粉色*/
.bgc-purple{background-color: #777EDD;color: #fff;}/*紫色*/
.bgc-warnning{background-color: #F9BC0B;color: #fff;}/*黄色*/
.bgc-info{background-color: #4EB7EB;color: #fff;}/*天蓝*/
.bgc-dark{background-color: #313A46;color: #fff;}/*黑色*/
/*button按钮------------------------------------------------ */
.ui-button { display: inline-block; line-height: 20px; font-size: 14px; text-align: center; color: #313A46; border: 1px solid #d0d0d5; border-radius: 4px; padding: 9px 15px; min-width: 50px; background-color: #fff; background-repeat: no-repeat; background-position: center; text-decoration: none; -webkit-transition: border-color .15s, background-color .15s, opacity .15s; transition: border-color .15s, background-color .15s, opacity .15s; cursor: pointer; overflow: visible; }
.ui-button.error { border-color: #F1556C !important; }
div.ui-button { display: block; }
button, [type="button"], [type="submit"] { outline: 0; }
input.ui-button, button.ui-button { height: 20px; -ms-box-sizing: content-box; box-sizing: content-box; }
.ui-button:hover { color: #313A46; border-color: #ababaf; text-decoration: none; }
.ui-button-clip { width: 0; height: 0; font-size: 0; position: absolute; clip: rect(0 0 0 0); }
.ui-button-clip.ui-outline + label.ui-button { outline: 1px dotted #02C0CE; outline: 5px auto -webkit-focus-ring-color; }
.ui-button:not(.disabled):active, .ui-button:not(.loading):active { background-color: #F8F9FA; }
.ui-button.disabled:hover, .ui-button.loading, .ui-button.loading:hover { color: #313A46; background-color: #fff; border-color: #d0d0d5; cursor: default; }
.ui-button-primary, .ui-button-primary.disabled:hover, .ui-button-primary.loading, .ui-button-primary.loading:hover { border: 1px solid #02C0CE; background-color: #02C0CE; color: #fff; }
.ui-button-primary:hover { background-color: #02A8B5; border-color: #02A8B5; color: #fff; }
.ui-button-primary:not(.disabled):active, .ui-button-primary:not(.loading):active { background-color: #02C0CE; border-color: #02C0CE; }
.ui-button-success, .ui-button-success.disabled, .ui-button-success.disabled:hover, .ui-button-success.loading, .ui-button-success.loading:hover { border: 1px solid #0ACF97; background-color: #0ACF97; color: #fff; }
.ui-button-success:hover { background-color: #00dba2; border-color: #00dba2; color: #fff; }
.ui-button-success:not(.disabled):active, .ui-button-success:not(.loading):active { background-color: #00bf8e; border-color: #00bf8e; }
.ui-button-warning, .ui-button-warning.disabled, .ui-button-warning.disabled:hover, .ui-button-warning.loading, .ui-button-warning.loading:hover { border: 1px solid #F1556C; background-color: #F1556C; color: #fff; }
.ui-button-warning:hover, input.ui-button-warning:focus, button.ui-button-warning:focus { background-color: #EF3D58; border-color: #EF3D58; color: #fff; }
.ui-button-warning:not(.disabled):active, .ui-button-warning:not(.loading):active { background-color: #dc5652; border-color: #dc5652; }