# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

.idea/
vendor/
douban/
data/
cache/
config/
sql/
composer.lock
Authentication
Password
Updating
Username
#public
public/uploads/
public/do.php
public/test.php
#tpl
tpl/pc/fly/tmp/
/tpl/mobile/miniMobile/tmp/
#pic
!public/uploads/images/no.gif
!public/uploads/images/nopic.gif
!public/uploads/images/nopic2.gif
!public/uploads/images/notpic.gif