@charset "UTF-8";
/*公共-------------------------------------------------------------*/

body{position:absolute;background-color: #fff; min-height:100%;}
a{text-decoration: none;color: #02C0CE;}
a:hover{color:#319095;text-decoration: none;}
.wephp-inline{display:inline-block}
.rounded-circle{border-radius: 50% !important;}
.rounded-pill{border-radius:1.063em !important;}
.badge {display: inline-block;min-width: 0.875em;text-align: center;line-height: 0.875em;white-space: nowrap;vertical-align: baseline;padding: 0.5em;font-weight: 400;transform: scale(.7);font-family: "Rubik", sans-serif !important;border-radius: 0.25em;background-color: #02C0CE;color: #fff;}/*徽章*/
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{zoom:1}
/**layout-------------------------------------------------------------------------*/
.conteiner{width:100%;max-width:95%;margin-left:auto;margin-right:auto;}
.pure-box{display:table;width:100%}
.pure-row{display:table-row;width:100%}
.pure-box-left,.pure-box-right,.pure-box-item{display:table-cell;}
/*menu-dropdown*/
.menu-dropdown-content{position:absolute;right:1.875em;background:#FFF;border:1px solid #DEDEDE;line-height:1.875em;text-align:left;min-width:9.375em;display:none;}
.menu-dropdown-content .menu-dropdown-title{border-bottom:1px solid #E9E9E9;color:#ABABAB;padding-left:0.312em;padding-right:.312em;margin:0;font-size:.875em;}
.menu-dropdown-content .menu-dropdown-item{display:block;padding-right:.75em;padding-left:.75em;}
.menu-dropdown-content .menu-dropdown-item > a{font-size:.875em;color:#777;}
.menu-dropdown-content .menu-dropdown-item a i{margin-right:.5em;}
.menu-dropdown-content .menu-dropdown-item:hover{background-color:#F3F6F8;}

/*header--------------------------------------------*/
#header{position:fixed;width:100%;right: 0;left: 0;top: 0;z-index: 1030;border:0;-webkit-transition: all .5s ease;transition: all .5s ease;min-height:3.875em;background: #ffffff;box-shadow: 0 0 1.125em 0 rgba(0, 0, 0, 0.2);}
/*logo*/
#header .logo{width:150px;color: #313a46;text-transform: uppercase;line-height: 3.75em;overflow:hidden}
#header .logo .logo-small {display: none;}
#header .logo a {color: #313a46 !important;font-size: 1.25em;font-weight: 700;letter-spacing: 1px;text-transform: uppercase;}
/*top-menu*/
.top{box-sizing:border-box}
#header .top-menu{text-align:right;}
#header .top-menu .top-menu-list{letter-spacing:-3px;text-align:right;}
#header .top-menu .top-menu-item{display:inline-block;letter-spacing:0;line-height: 60px;color: #313a46;}
#header .top-menu .top-menu-link{display:inline-block;color: #313a46;margin-left:16px;cursor: pointer;position: relative;}
#header .top-menu .top-menu-link > i{display:inline-block;margin-right:4px;font-size:1.125em;font-style:normal;}
#header .top-menu .top-menu-link > img{height: 32px;width: 32px;margin-right:2px;}
#header .top-menu .top-menu-link .top-menu-count{position: absolute;right: -6px;top: 6px;font-size:80%;}
#mobile-menu{display:none;}
/*菜单按钮*/
#header .top-menu .top-menu-item.menu-button{display:none !important;}
.lines-menu-button {width: 1.25em;height: 0.875em;display: inline-block;position: relative;-webkit-transition: all .5s ease;transition: all .5s ease;margin-bottom:0.125em;margin-right:0.125em;}
.lines-menu-button span{height: .125em;width: 100%;background-color: rgba(49, 58, 70, 0.8);display: block;margin-bottom: .312em;-webkit-transition: -webkit-transform .5s ease;transition: -webkit-transform .5s ease;transition: transform .5s ease;}

/*导航pure-menu*/
.nav{box-sizing:border-box;background:#02C0CE;padding:0;position:relative;line-height:30px;height:50px;}
.nav .pure-box-item{color:#FFF;}

#header .pure-menu {background-color: #02c0ce;border:1px solid red}
#header .pure-menu-list  > .pure-menu-item > .pure-menu-link {padding-top: 1.25em;padding-bottom: 1.25em;display: block;color: rgba(255, 255, 255, 0.7);font-weight: 500;line-height:1.25em;}
#header .pure-menu-list > .pure-menu-select > .pure-menu-link {color: #FFFFFF;}
#header .pure-menu-list > .pure-menu-item > .pure-menu-link i {margin-right: 0.5em;-webkit-transition: all .5s ease;transition: all .5s ease;}
#header .pure-menu-link:hover,#header .pure-menu-link:focus {background-color:  transparent;}
#header .pure-menu-children .pure-menu-link{ color:#313a46;font-weight:200;}
#header .pure-menu-children .pure-menu-link:hover{ color:#02c0ce;}
#header .pure-menu-children .pure-menu-item.pure-menu-select > .pure-menu-link {color: #02c0ce;}
#header .pure-menu-list > .pure-menu-item .pure-menu-children {position: absolute;top: 100%;left: 0;z-index: 1000;border: 1px solid #e7e7e7;padding: 0.625em 0;list-style: none;min-width: 12.5em;text-align: left;-webkit-transition: all .2s ease;transition: all .2s ease;background-color: #ffffff;box-shadow: 0 0 1.5em 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);}
#header .pure-menu-children > .pure-menu-allow-hover:hover > ul.pure-menu-children{display:block;position:absolute;top:-50%;left:100%;}


/*main------------------------------------------------------*/
#main{position:relative;padding-bottom: 3.25em;/*等于footer的高*/padding-top: 7.5em;/*header的高*/}
/*sidebar*/
#sidebar{background:#FFF;width:25%;border-left:1px solid #f3F6F8;padding-left:1em;padding-bottom:1em}
#sidebar .pure-menu-children{position:relative;left:1em;display:none}
#sidebar .pure-menu-link i {margin-right: 1em;-webkit-transition: all .5s ease;transition: all .5s ease;}
.sidebar-box-title{background:#AFF0F2;padding:5px 4px;font-size:15px;font-weight:700;}
.sidebar-box-list{padding-left:4px;}
.sidebar-box-item{padding-top:4px;padding-bottom:4px;}
.sidebar-box-item a{color:#313a46;font-size:15px;}
.sidebar-box-item a:hover{color:#02C0CE}
/*面包屑*/
#path{padding-top:1em;padding-bottom:1em;text-align:right;}
#path li{display:inline-block;color:#6c757d;font-size:0.813em;}
#path li+li:before{ content: "\003E" !important;padding: 0 0.5em;color:#98a6ad;}
#path a{display:inline-block;color:#98a6ad;text-decoration: none;}
/*article*/
#article{padding-bottom:1em;padding-right:1.0em;padding-left:.5em;width:2000px;}
#article div{display:block;width:100%}
#article .article-title{text-align:left}
#article .article-title h1 {font-size:1.4em;}
#article .article-content{color:#555;line-height:2em;}

/*footer------------------------------------------------------*/
#footer{position: absolute;bottom:0;left:0;right:0;padding: 1em 0;background-color: #ffffff;text-align: center !important;height:3.25em;border-top:1px solid #E5E5E5;line-height:20px;}



/*媒体查询----------------------------------------------*/
@media screen and (max-width: 767px) {
	#header .logo .logo-large{display:none;}
	#header .logo .logo-small {display:block;}
	#header .top-menu .top-menu-item.user .top-menu-link i{display:none}
	#header .top-menu .top-menu-item.menu-button{display:inline-block !important;}
	#header .pure-menu {display:none !important;}
	#sidebar{display:block;width:100%}
	#article{display:block;width:100%}
	.logo{width:25% !important;}
}