@charset "UTF-8";
/*公共-------------------------------------------------------------*/
body{position:relative;background-color: #F3F6F8; min-height:100%;}
a{text-decoration: none;color: #02C0CE;}
a:hover{color:#319095;text-decoration: none;}
.wephp-inline{display:inline-block}
.rounded-circle{border-radius: 50% !important;}
.rounded-pill{border-radius:1.063em !important;}
.badge {display: inline-block;min-width: 0.875em;text-align: center;line-height: 0.875em;white-space: nowrap;vertical-align: baseline;padding: 0.5em;font-weight: 400;transform: scale(.7);font-family: "Rubik", sans-serif !important;border-radius: 0.25em;background-color: #02C0CE;color: #fff;}/*徽章*/
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{zoom:1}
/**layout-------------------------------------------------------------------------*/
.conteiner{width:100%;max-width:95%;margin-left:auto;margin-right:auto;}
.pure-box{display:table;width:100%}
.pure-row{display:table-row;width:100%}
.pure-box-left,.pure-box-right,.pure-box-item{display:table-cell;}
/*menu-dropdown*/
.menu-dropdown-content{position:absolute;right:1.875em;background:#FFF;border:1px solid #DEDEDE;line-height:1.875em;text-align:left;min-width:9.375em;display:none;z-index:101}
.menu-dropdown-content .menu-dropdown-title{border-bottom:1px solid #E9E9E9;color:#ABABAB;padding-left:0.312em;padding-right:.312em;margin:0;font-size:.875em;}
.menu-dropdown-content .menu-dropdown-item{display:block;padding-right:.75em;padding-left:.75em;}
.menu-dropdown-content .menu-dropdown-item > a{font-size:.875em;color:#777;}
.menu-dropdown-content .menu-dropdown-item a i{margin-right:.5em;}
.menu-dropdown-content .menu-dropdown-item:hover{background-color:#F3F6F8;}

/*header--------------------------------------------*/
#header{position:fixed;width:100%;right:0;left:0;top: 0;z-index: 100;height:50px;background: #fff;box-sizing:border-box;border-bottom:medium none;box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);text-align:right;padding-left:220px;}

/*aside-------------------------------------------*/
#aside{position:fixed;width:220px;left: 0;top: 0;background: #ffffff;height:100%;box-sizing:border-box;;border-right: medium none;z-index:101;overflow-y:auto ;}
/*滚动条*/
#aside::-webkit-scrollbar {display: none;}
#aside .title {text-align:center;font-size:18px;line-height:50px;height:51px;box-sizing:border-box;border-bottom:1px solid #F7F7F7 ;}

/*menu---------------------------------------------*/
/*公共*/
.dh-menu{position:relative;width:220px;}
.dh-menu .dh-menu-list{width:220px;box-sizing:border-box;}
.dh-menu .dh-menu-item{box-sizing:border-box;}
.dh-menu .dh-menu-link{color: rgba(49, 58, 70, 0.8);font-size:16px;box-sizing:border-box;line-height:22px;}
.dh-menu .dh-menu-link:hover{color:#02C0CF;background-color:#F7F7F7;}
.dh-menu .dh-menu-item.dh-menu-has-children >.dh-menu-link:after{display:inline-block;content: "\25be";float:right}
.dh-menu .dh-menu-children{display:none}
.dh-menu .dh-menu-select >.dh-menu-link {color:#02C0CF ;background-color:#F3F6F8;}
.dh-menu .dh-menu-select >.dh-menu-link:hover{color:rgba(49, 58, 70, 0.8);background-color:#F7F7F7;}
/*第一层*/
.dh-menu .dh-menu-list > .dh-menu-item{background-color:#fff;}
.dh-menu .dh-menu-list > .dh-menu-item > .dh-menu-link{display:inline-block;padding:10px;width:100%;}
.dh-menu .dh-menu-list > .dh-menu-item > .dh-menu-link i{display:inline-block;padding-right:5px}
/*子菜单*/
.dh-menu .dh-menu-children{background-color:#FFF;}
.dh-menu .dh-menu-children .dh-menu-item{padding-left:26px;}
.dh-menu .dh-menu-children .dh-menu-link {display:block;padding:8px;}


/*main-------------------------------------------*/
#main{position:absolute;top:50px;right:0;bottom:0;left:220px;z-index:103;width:auto;}
.path{position:relative;width:100%;background-color:#FFF;margin-top:1px;height:50px;box-sizing:border-box;border-left:1px solid #F3F6F8;line-height: 48px;padding:0 16px;}
.path a{color:#98a6ad}
.content{padding:16px;margin:0 auto;position:relative;}
.content-card{background:#FFF;border-radius: 2px;box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);min-height:100px;}
.content-card-path{}
.content-card-detail{padding:8px 10px;}

/*logo*/
#header .logo{width:150px;color: #313a46;text-transform: uppercase;overflow:hidden;vertical-align:middle;}
#header .logo .logo-small {display: none;}
#header .logo a {color: #313a46 !important;display:inline-block;font-size: 1.25em;line-height: 1.5;font-weight: 700;letter-spacing: 0px;text-transform: uppercase;}
/*top-menu*/
.top-menu{text-align:right;letter-spacing:-3px;text-align:right;}
.top-menu .top-menu-item{display:inline-block;letter-spacing:0;line-height: 60px;color: #313a46;height:60px;overflow:hidden;vertical-align:middle;}
.top-menu .top-menu-link{display:inline-block;color: #313a46;margin-left:16px;cursor: pointer;position: relative;vertical-align:middle;}
.top-menu .top-menu-link > i{display:inline-block;margin-right:4px;font-size:1.125em;font-style:normal;}
.top-menu .top-menu-link > img{height: 32px;width: 32px;margin-right:2px;vertical-align:middle;}
.top-menu .top-menu-link.pure-button{color:#fff} 
.top-menu .top-menu-link.menu-dropdown-click{line-height:0;}
.top-menu .top-menu-link .top-menu-count{position: absolute;right: -4px;top: 6px;font-size:80%;z-index:1;}

/*菜单按钮*/
#header .top-menu .top-menu-item.menu-button{display:none !important;}
.lines-menu-button {width: 1.25em;height: 0.875em;display: inline-block;position: relative;-webkit-transition: all .5s ease;transition: all .5s ease;margin-bottom:0.125em;margin-right:0.125em;}
.lines-menu-button span{height: .125em;width: 100%;background-color: rgba(49, 58, 70, 0.8);display: block;margin-bottom: .312em;-webkit-transition: -webkit-transform .5s ease;transition: -webkit-transform .5s ease;transition: transform .5s ease;}





